body {
    font-family: 'Playfair Display', serif;
    /* background: linear-gradient(to bottom, #000000, #3e3e3e, #7c7c7c, #8a8a8a); */
    background-image: url(../Images/Blue-Neural.png);
    color: white;
}
#self-card {
    background: linear-gradient(to bottom, rgba(128, 128, 128, 0.75), rgba(192, 192, 192, 0.25));
}
#self-card .card-content > p {
    text-align: center;
    color: rgb(167, 167, 167);
}
#self-card:hover .card-content > p {
    color: rgb(255, 255, 255);
}
.image-container {
    /* width: 100%;
    height: 40%; */
    /* left: 10%; */
    padding: 20%;
    padding-bottom: 0;
    position: relative;
    justify-items: center;
}
.my-photo {
    position: absolute;
    /* width: 80%;
    height: 80%; */
    border-radius: 5px;
}
.select select{
    background-color: #7c7c7c57;
    border-color: #00000066;

    color: #363636;
}
.textarea {
    background-color: #ffffff75;
    border-color: #00000067;

    color: #363636;
}
#eMail-form {
    background: radial-gradient(circle, rgba(207, 207, 207, 0.75) 50%, rgba(255, 255, 255, 0.25) 100%);
    background-position: center;
    background-size: 200% 200%;
}

#eMail-btn {
    background-image: linear-gradient(#172743, #0546b8, #193159);
    text-align: center; 
    color: #d8d8d8 !important;
    border: 0;
}

#eMail-btn:hover {
    background-image: linear-gradient(#8eb6fc, #2863c9, #8eb8ff);
    color: white;
}

