body {
    font-family: 'Playfair Display', serif;
    background: linear-gradient(#353535, #3e3e3e, #7c7c7c, #6f6f6f, #3e3e3e, #2e2e2e, #3e3e3e, #6f6f6f, #7c7c7c, #3e3e3e);
    color: white;
}
.zoom-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.work-image-container {
    position: relative;
    padding-bottom: 66.66%;  /* For 3:2 aspect ratio */
    border-top: 2px solid transparent; /* border color changed to transparent */
    transition: border-top-color 0.3s;
}

.work-image-container:hover {
    border-top-color: #3b5998;
}

.work-image-container:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.work-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
    z-index: 1;
}

.zoom-container:hover .work-image {
    transform: scale(1.2);
}
.tabs.is-toggle li.is-active a {
    background-image: linear-gradient(#172743, #0546b8, #193159);
    border-color: #003c79;
    color: #ffffff;
    z-index: 1;
}

.tabs ul li:not(.is-active) a {
    color: #FFF;
    border:0;
    background-image: linear-gradient(#8eb6fc, #2863c9, #8eb8ff);
}
.tabs ul li:not(.is-active) a:hover {
    background-image: linear-gradient(#172743, #0546b8, #193159);
}

.button.is-outlined.is-dark {
    background-image: linear-gradient(#172743, #0546b8, #193159);
    text-align: center; 
    color: #d8d8d8; 
    border: 0;
}

.button.is-outlined.is-dark:hover {
    background-image: linear-gradient(#8eb6fc, #2863c9, #8eb8ff);
    color: white;
}
#dropdown-column{
    position:absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#dropdown-container{
    top: 30%;
    transition: opacity 0.3s;
    width: 100%; 
    justify-content: center; 
}
.dropdown-menu{
    width:100%;

}
 .column.work {  /*-------- */
    flex: none;
    width: calc(20% - 0.4rem);
}
.no-gap {
    margin: -4px,-4px,-4px,-4px;
}

.no-gap .column {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 4px;
}

.photography-image {
    width: 80vw;
    height: auto;
}

.button.desc-button{
    background-color: rgba(0, 0, 0, 0);
    color: #005acf;
    border: none;
    font-size: 1rem;
    font-weight: 800;
    z-index: 2;
}


.noise-overlay {
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-image: url("#noiseFilter");
    animation: changeNoise 0.3s infinite; /* Change the duration to control the speed of the noise */
}


@keyframes changeNoise {
    from {
        filter: url(#noiseFilter);
    }to {
        filter: url(#noiseFilter2);
    }to {
        filter: url(#noiseFilter3);
    }to {
        filter: url(#noiseFilter4);
    }
}



@media screen and (max-width: 1023px) and (min-width: 770px) {
    .column.work {
        flex: none;

        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .dropdown-menu{
        width:100%;
    }
    .button.desc-button{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 769.99px) {
    .column.work {
        flex: none;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .work-image {
        width: 80vw;
    }
    .dropdown-menu{
        width:100%;
        padding-left: 15%;
        padding-right: 15%;
    }
    .button.desc-button{
        font-size: 1rem;
    }
}
